<div class="w-full p-4">
  <form class="w-full max-w-lg" [formGroup]="myForm" (ngSubmit)="update()">
    <div class="flex flex-wrap -mx-4 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray-300 text-xs font-bold mb-2"
          for="grid-first-name"
        >
          Player Namez
        </label>
        <input
          formControlName="playerName"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name"
          type="text"
          placeholder="Jane"
        />
      </div>
    </div>
    <div calss="flex flex-wrap -mx-4 mb-6">
      <div class="px-4">
        <button
          class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
          type="submit"
        >
          Send To Elm
        </button>
        <button
          class="flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded"
          type="reset"
        >
          Cancel
        </button>
      </div>
    </div>
    <div class="flex flex-wrap -mx-4 mb-6">
      <div
        class="w-full md:w-1/2 px-3 mb-6 md:mb-0 p-10 text-sm"
        *ngIf="playerList$ | async; let playerList"
      >
        <div *ngFor="let player of playerList; let i = index">
          {{ i }}:{{ player.name }} With out volwel :
          {{ player.withoutVowelsName }} :: correct : {{ player.correct }}
        </div>
      </div>
    </div>
  </form>
</div>
